<ion-modal-view>
<ion-view  hide-back-button="false" view-title="Marie Simpson" class="backgroundImage" id="dashboard" hide-nav-bar="false">
    <ion-content scroll="true">

       <div id="dashboardlogo">
           
	           <div class="header padding text-center dashboardlogoimage">
	                <img src="img/big_logo.png" alt="Your logo here"  width="30%" height="auto" class="dashboardlogoimage"/>
	                <h1 class="Sport">Your Children's<br>Home for Sport...<h1>
	            </div>

	            <div class="header padding text-center pandadashboard">
		    		<img src="img/bear.png" alt="Your logo here" width="30%" height="auto"/>
		    	</div>
		    		<h1 class="getstarted" style="text-align:center;color:#FB6D00">Welcome !</h1>
       </div>
       <div class="dashboardSection">
       	
       	<a href="" ng-click="levels()" ng-controller="StudentsCtrl">
       		<div class="header padding text-center classes common">
       			<img src="img/icos_15.png" alt="Your logo here"  width="50%" height="auto"/>
       			<p class="Sectiontitle">STUDENTS</p>
       		</div>
       	</a>


       	<a class="" href="#/app/videos">
       		<div class="header padding text-center students common">
       			<img src="img/icos_17.png" alt="Your logo here"  width="50%" height="auto"/>
       			<p class="Sectiontitle">VIDEOS</p>
       		</div>
       	</a>


       	 <a class="" href="#/app/news">
	       <div class="header padding text-center teachers common ">
	      	
	       	  <img src="img/icos_23.png" alt="Your logo here"  width="50%" height="auto"/>
	       	    <p class="Sectiontitle">NEWS</p>
	       </div>
	     </a>

	     <a class="" href="#/app/community">
	       <div class="header padding text-center videos common">
	       	  <img src="img/icos_26.png" alt="Your logo here"  width="50%" height="auto"/>
	       	  <p class="Sectiontitle">COMMUNITY</p>
	       </div>
	      </a>
	       </div>
       </div>





     
    </ion-content>
</ion-view>

</ion-modal-view>