<ion-modal-view>
    <ion-view id="signup" hide-nav-bar="true">
        <ion-content padding="true" scroll="false">
           <form ng-submit="newPassword()" name="newPassword1">
            <div class="row responsive-md">
                <div class="col col-50 col-offset-25">

                    <div class="header padding text-center">
                        <img src="img/logo12.png" alt="Your logo here" width="100%" height="121px"/>
                    </div>

                    <div class="list">
                        <label class="item item-input">
                           <input name="password" type="password" required ng-model="loginData.password" placeholder="password">
                       </label>
                       <label class="item item-input">  
                        <input name="confirm_password" type="password" required ng-model="confirm_password" ui-validate=" '$value==loginData.password' "
                        ui-validate-watch=" 'loginData.password' " placeholder="confirm password">
                    </label>
                </div>
                <span style="color:white;" ng-show='newPassword1.confirm_password.$error.validator'>Passwords do not match!</span>
                <button class="button button-block button-positive" ng-disabled="newPassword1.$invalid" type="submit">
               Submit
             </button>
             <div class="row row-no-padding">
                <div class="col">

                </div>
                <div class="col text-right">
                    <button class="button button-clear button-light" ng-click= "login()">
                     Back
                 </button>
             </div>
         </div>
     </div>
 </div>
</form>
</ion-content>
</ion-view>
</ion-modal-view>