<ion-modal-view>
    <ion-view view-title="Marie Simpson" id="videos" class="backgroundImage" hide-nav-bar="false">
        <ion-content padding="true" scroll="true">
            <div id="dashboardlogo">


                <div class="header padding text-center pandadashboard">
                    <img src="img/bear.png" alt="Your logo here" width="30%" height="auto" />
                </div>
                <h1 class="getstarted levelheading" style="text-align:center;color:#FB6D00">Welcome to {{levelname12}}  Marie Videos !</h1>
            </div>
            <div class="dashboardSection levelsection">
                <a href="" ng-click="indoorVideos()">
                    <div class="header padding text-center classesData level4">
                        <img src="img/icos_17.png" alt="Your logo here" width="50%" height="auto" />
                        <p class="Sectiontitle">Indoor</p>
                    </div>
                </a>
                <a href="" ng-click="outdoorVideos()">
                    <div class="header padding text-center classesData level2">
                        <img src="img/icos_17.png" alt="Your logo here" width="50%" height="auto" />
                        <p class="Sectiontitle">Outdoor</p>
                    </div>
                </a>
            </div>
        </ion-content>
    </ion-view>
</ion-modal-view>