<ion-modal-view>
	<ion-view  view-title="Marie Simpson" id="indoorvideos" class="backgroundImage" hide-nav-bar="false">
		<ion-content padding="true" scroll="true">
			<div id="dashboardlogo">
                            

			       <div class="header padding text-center pandadashboard">
			    	      <img src="img/bear.png" alt="Your logo here" width="30%" height="auto"/>
			      </div>
			    <h1 class="getstarted levelheading" style="text-align:center;color:#FB6D00">Welcome to Marie Videos !</h1>
		      </div>
              <!-- <div class="modal transparent fullscreen-player">
                  
                  <video ng-src="http://dev.ditroinfotech.com/bearscoaching/media/images/teachers/2017-05-24-09-45-42-am-May 24 2017 3-15 PM.webm" class="centerme" controls="controls" >
                  </video>
                </div>    -->

         <div class="fullscreen-player">
              <video controls="controls"  name="Video Name" src="http://dev.ditroinfotech.com/bearscoaching/media/images/sport/videos/2017-06-14-11-52-02-am-Jun 2 2017 5-08 PM .webm"></video>

              <video controls="controls" name="Video Name" src="http://dev.ditroinfotech.com/bearscoaching/media/images/sport/videos/2017-06-14-11-52-02-am-Jun 2 2017 5-08 PM .webm"></video>

              <video controls="controls" name="Video Name" src="http://dev.ditroinfotech.com/bearscoaching/media/images/sport/videos/2017-06-14-11-52-02-am-Jun 2 2017 5-08 PM .webm"></video>
       </div>

              
		</ion-content>
	</ion-view>
</ion-modal-view>

