<ion-modal-view>
	<ion-view  view-title="Marie Simpson" id="mainpage" class="backgroundImage" hide-nav-bar="false">
		<ion-content padding="true" scroll="true">
				<div id="dashboardlogo">
                            

			       <div class="header padding text-center pandadashboard">
			    	      <img src="img/bear.png" alt="Your logo here" width="30%" height="auto"/>
			      </div>
			    <h1 class="getstarted levelheading" style="text-align:center;color:#FB6D00">Welcome to Marie News !</h1>
		      </div>
			

		      <p style="text-align: justify;">Marie News of the printing and typesetting industry. Marie News has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

		      <p  style="text-align: justify;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>






		</ion-content>
	</ion-view>
</ion-modal-view>

